*~
__pycache__
app.db
CRESHMap.egg-info/
build/
dist/
CRESHMap/static/images/legends/
CRESHMap/static/images/qual/
*.zip
*.zip.*
*.shp
*.dbf
*.prj
*.qpj
*.shx
*.csv
*.xls
*.xlsx
__MACOSX/
.DS_Store
*.gpkg
