{% set page = namespace(path='/download') %}
{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Download</h1>
    <p>In Scotland there are <a href="https://www.gov.scot/publications/alcohol-licensing-guidance/pages/licensing-legislation/">five licensing objectives</a> to be considered when granting a licence to sell alcohol; the fifth objective is to protect and improve public health. Licensing boards are also required to assess
        <a href="https://www.gov.scot/publications/licensing-scotland-act-2005-section-142-guidance-licensing-boards/pages/6/"> overprovision of licensed premises in the board’s area</a>. Our aim is to make the data publicly available allowing users to question notions of the overprovision of alcohol.</p>

    <p> To date there is no specific legislation or licencing provision relating to the retail of tobacco.</p>

    <p>The website is free to use, and the data are also freely available to download via the submission of an email request.</p>

    <p>You can explore the data as you wish, however we ask that you acknowledge the source of the data whenever you use it.</p>

    <p>For more information about the project and webmap please contact <a href="mailto:Roberto.Valiente@ed.ac.uk">Dr Roberto Valiente</a></p>.



    <div style="width:600px; margin:0 auto;">
        <form method="post">
            Please provide an email address to receive the download link.

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="name">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="name" placeholder="Full name" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="email" placeholder="Email" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="organization">Organisation</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="organization" placeholder="Organisation" />
                </div>
            </div>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == 'message' %}
                    <div class="alert alert-warning" role="alert">
                  {% else %}
                    <div class="alert alert-{{ category }}" role="alert">
                  {% endif %}
                  {{ message|safe }}
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
